* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: black;
    color: white;
}

/*NAV STYLES*/

nav {
    background-color: #00000000;
    color: white;
    /*box-shadow: 10px 10px 10px rgba(111, 128, 112, 0.219);*/
    z-index: 500;
    position: sticky;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
}

nav li {
    height: 80px;
    list-style-type: none;

}

nav li:first-child {
    margin-right: auto;
}


nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: rgb(16, 65, 36)
}

/* MOBILE-NAV STYLES */

.mobile-bar {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;

    background-color: rgba(3, 19, 11, .8);
    color: white;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.25);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobile-bar li {
    width: 100%
}

.mobile-bar a {
    width: 100%;
}

.menu-button {
    display: none;
    color: #ffffff
}

.logo {
    padding: 10px;
}

/*MAIN STYLES*/

main {
    margin-top: 60px;
    margin-bottom: 80px;
    display: grid;
    grid-template-rows: 3fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-items: center;
}

/*HEADING STYLES*/
#heading {
    grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
}

/*CURRENT PROJECT STYLES*/

#current-projects {
    grid-row: 3;
    grid-column: 1 / 3;
}

/*FLORA FAUNA STYLES*/

#flora-fauna {
    display: grid;
    grid-row: 2;
    grid-column: 1;
    justify-items: center;
}

#flora-fauna P {
    max-width: 80%;
    text-align: center;
}

/*ROOTS STYLES*/

#roots {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    justify-items: center;
}

#roots p {
    max-width: 80%;
    text-align: center;
}

/*FOOTER STYLES*/

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(12 1fr);
}

#contacts {
    grid-row: 1;
}

#socials {
    grid-row: 2;
    grid-column: 12;
}

@media screen and (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}